/* TODO:  */
/*orderning css*/

.size-post-thumbnail{
  max-height: 450px;
  width: auto;
}
.progress{
  margin-top: 20px;
}
.wpprp-usability > h3,
.wpprp-price > h3,
.wpprp-quality > h3,
.wpprp-usability > h4,
.wpprp-price > h4,
.wpprp-quality > h4{
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
}
.wpprp-usability > h3,
.wpprp-usability > h4{
  color: #5bc0de;
}
.wpprp-price > h3,
.wpprp-price > h4{
  color: #5cb85c;
}
.wpprp-quality > h3,
.wpprp-quality > h4{
  color: #d9534f;
}
.wpprp-amazon-button{
  color: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
}
.wpprp-stars-container{
  color: #ff9900;
  font-size: 20px;
  text-align: center;
}
.wpprp-link{
  display: block !important;
}
.wpprp-reviewer-container{
  text-align: right;
}
.wpprp-img-container > a > img{
  display: block;
  margin: auto;
}
.wpprp-shortcode-container{
  display: block;
  position: relative;
}
.wpprp-link-container{
  line-height: 29px;
}
